"This section is for data types such as lists, tuples, dictionaries, and sets, and I am adding my own exercises to it."

In [32]:
# List
#emtpy_list_1
[ ]

[]

In [33]:
#emtpy_list_2
list()

[]

In [34]:
#character_list  
list('hirad')

['h', 'i', 'r', 'a', 'd']

In [35]:
[5] * 5

[5, 5, 5, 5, 5]

In [36]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
#Len
list_fruites = {'apple', 'banana', 'cherry', 'orange'}
print(len(list_fruites))

4

In [38]:
# Max, Min, Sum
list_numbers = [1, 2, 3, 4]
print(max(list_numbers))
print(min(list_numbers))
print(sum(list_numbers))

4
1
10

In [39]:
#Indexing and Slicing
list_fruites = ['apple', 'banana', 'cherry', 'orange']
print(list_fruites[0]) # indexing
print(list_fruites[3]) # indexing
print(list_fruites[-1]) #slicing
print(list_fruites[-3]) #slicing

apple
orange
orange
banana

In [40]:
# Accessing Elements Using Slicing
list_fruites_1 = list_fruites[1:3]
list_fruites_1

['banana', 'cherry']

In [41]:
list_fruites_2 = list_fruites[::2]
list_fruites_2

['apple', 'cherry']

In [42]:
list_fruites_3 = list_fruites[::-1]
list_fruites_3

['orange', 'cherry', 'banana', 'apple']

In [43]:
# Updating
list_fruites[0] = 'blueberry'
list_fruites

['blueberry', 'banana', 'cherry', 'orange']

In [44]:
# Adding Elemnts to a List
# 1
list_fruites.append('elderberry')
list_fruites

['blueberry', 'banana', 'cherry', 'orange', 'elderberry']

In [45]:
# 2 
more_fruites = ['fig', 'grap']
list_fruites.extend(more_fruites)
list_fruites

['blueberry', 'banana', 'cherry', 'orange', 'elderberry', 'fig', 'grap']

In [46]:
# 3
list_fruites.insert(0,'apricot')
list_fruites

['apricot',
 'blueberry',
 'banana',
 'cherry',
 'orange',
 'elderberry',
 'fig',
 'grap']

In [47]:
# Removing Elemnts 
list_fruites.pop()
list_fruites

['apricot', 'blueberry', 'banana', 'cherry', 'orange', 'elderberry', 'fig']

In [48]:
# 2
pop_list_fruite = list_fruites.pop(1)
pop_list_fruite

'blueberry'

In [49]:
list_fruites

['apricot', 'banana', 'cherry', 'orange', 'elderberry', 'fig']

In [50]:
# 3
list_fruites.remove('banana')
list_fruites

['apricot', 'cherry', 'orange', 'elderberry', 'fig']

In [51]:
# 4
del list_fruites[0]
list_fruites

['cherry', 'orange', 'elderberry', 'fig']

In [52]:
# 5
del list_fruites[1:3]
list_fruites

['cherry', 'fig']

In [53]:
# Clearing all
list_fruites.clear()
list_fruites

[]

In [54]:
# Operation
list_one = [1, 2, 3]
list_two = [4, 5, 6]
combined = list_one + list_two
print(combined)

[1, 2, 3, 4, 5, 6]

In [55]:
# *
repeated_list = list_one * 3
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [56]:
# Membership Testing
list_pets= ['dog', 'cat', 'birde']
print('cat' in list_pets)
print('dog' not in list_pets)

True
False

In [57]:
# Finding
list_pets.index('dog')

0

In [58]:
# Counting the Number of Occurrences of an Elements
list_pets.count('cat')

1

In [59]:
# Revers the order of a List
list_numbers_2 = [0, 1, 2, 3, 4]
list_numbers_2.reverse()
print(list_numbers_2)

[4, 3, 2, 1, 0]

In [60]:
# Sort
list_numbers_2.sort()
print(list_numbers_2)

[0, 1, 2, 3, 4]

The lists are done, and next, I'm moving on to tuples.

In [61]:
# Tuple

In [62]:
tuple_number = (1, 2, 3)
print(tuple_number)

(1, 2, 3)

In [63]:
# empty
empty_tuple_1 = ()
print(empty_tuple_1)

()

In [64]:
# If you have one elements!
single_element_tuple = (4,)
print(single_element_tuple)

(4,)

In [65]:
# Indexing
word_tuple = ('h', 'i', 'r', 'a', 'd')
print(word_tuple[0])

h

In [66]:
# Slicing
word_tuple[0:3]

('h', 'i', 'r')

# Immutability of tuples (no change orders)

In [67]:
# Operations on Tuples
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)
combined_tuple = tuple_1 + tuple_2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

In [68]:
# *
repeated_tuple = tuple_1 * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [69]:
# Membership Testing
print(1 in tuple_1)
print(2 not in tuple_1)

True
False

In [70]:
# Count and Index methods
tuple_3 = (1, 2, 3, 4, 4, 5, 6)
print(tuple_3.count(4))
print(tuple_3.count(9))

2
0

In [71]:
tuple_3.index(2)

1

In [72]:
# Sorted or .sort()
tuple_4 = (5, -9, 1, 0, 6, -8)
sorted(tuple_4)

[-9, -8, 0, 1, 5, 6]

In [80]:
# Reversed or .reverse
tuple(reversed(tuple_4))
# باید در مرودش ویدیو ببینم چون نفهمیدم

(-8, 6, 0, 1, -9, 5)

The tuples are finished and I will start the dictionary