"This section is for data types such as lists, tuples, dictionaries, and sets, and I am adding my own exercises to it."

In [32]:
# List
#emtpy_list_1
[ ]

[]

In [33]:
#emtpy_list_2
list()

[]

In [34]:
#character_list  
list('hirad')

['h', 'i', 'r', 'a', 'd']

In [35]:
[5] * 5

[5, 5, 5, 5, 5]

In [36]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
#Len
list_fruites = {'apple', 'banana', 'cherry', 'orange'}
print(len(list_fruites))

4

In [38]:
# Max, Min, Sum
list_numbers = [1, 2, 3, 4]
print(max(list_numbers))
print(min(list_numbers))
print(sum(list_numbers))

4
1
10

In [39]:
#Indexing and Slicing
list_fruites = ['apple', 'banana', 'cherry', 'orange']
print(list_fruites[0]) # indexing
print(list_fruites[3]) # indexing
print(list_fruites[-1]) #slicing
print(list_fruites[-3]) #slicing

apple
orange
orange
banana

In [40]:
# Accessing Elements Using Slicing
list_fruites_1 = list_fruites[1:3]
list_fruites_1

['banana', 'cherry']

In [41]:
list_fruites_2 = list_fruites[::2]
list_fruites_2

['apple', 'cherry']

In [42]:
list_fruites_3 = list_fruites[::-1]
list_fruites_3

['orange', 'cherry', 'banana', 'apple']

In [43]:
# Updating
list_fruites[0] = 'blueberry'
list_fruites

['blueberry', 'banana', 'cherry', 'orange']

In [44]:
# Adding Elemnts to a List
# 1
list_fruites.append('elderberry')
list_fruites

['blueberry', 'banana', 'cherry', 'orange', 'elderberry']

In [45]:
# 2 
more_fruites = ['fig', 'grap']
list_fruites.extend(more_fruites)
list_fruites

['blueberry', 'banana', 'cherry', 'orange', 'elderberry', 'fig', 'grap']

In [46]:
# 3
list_fruites.insert(0,'apricot')
list_fruites

['apricot',
 'blueberry',
 'banana',
 'cherry',
 'orange',
 'elderberry',
 'fig',
 'grap']

In [47]:
# Removing Elemnts 
list_fruites.pop()
list_fruites

['apricot', 'blueberry', 'banana', 'cherry', 'orange', 'elderberry', 'fig']

In [48]:
# 2
pop_list_fruite = list_fruites.pop(1)
pop_list_fruite

'blueberry'

In [49]:
list_fruites

['apricot', 'banana', 'cherry', 'orange', 'elderberry', 'fig']

In [50]:
# 3
list_fruites.remove('banana')
list_fruites

['apricot', 'cherry', 'orange', 'elderberry', 'fig']

In [51]:
# 4
del list_fruites[0]
list_fruites

['cherry', 'orange', 'elderberry', 'fig']

In [52]:
# 5
del list_fruites[1:3]
list_fruites

['cherry', 'fig']

In [53]:
# Clearing all
list_fruites.clear()
list_fruites

[]

In [54]:
# Operation
list_one = [1, 2, 3]
list_two = [4, 5, 6]
combined = list_one + list_two
print(combined)

[1, 2, 3, 4, 5, 6]

In [55]:
# *
repeated_list = list_one * 3
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [56]:
# Membership Testing
list_pets= ['dog', 'cat', 'birde']
print('cat' in list_pets)
print('dog' not in list_pets)

True
False

In [57]:
# Finding
list_pets.index('dog')

0

In [58]:
# Counting the Number of Occurrences of an Elements
list_pets.count('cat')

1

In [59]:
# Revers the order of a List
list_numbers_2 = [0, 1, 2, 3, 4]
list_numbers_2.reverse()
print(list_numbers_2)

[4, 3, 2, 1, 0]

In [60]:
# Sort
list_numbers_2.sort()
print(list_numbers_2)

[0, 1, 2, 3, 4]

The lists are done, and next, I'm moving on to tuples.

In [61]:
# Tuple

In [62]:
tuple_number = (1, 2, 3)
print(tuple_number)

(1, 2, 3)

In [63]:
# empty
empty_tuple_1 = ()
print(empty_tuple_1)

()

In [64]:
# If you have one elements!
single_element_tuple = (4,)
print(single_element_tuple)

(4,)

In [65]:
# Indexing
word_tuple = ('h', 'i', 'r', 'a', 'd')
print(word_tuple[0])

h

In [66]:
# Slicing
word_tuple[0:3]

('h', 'i', 'r')

# Immutability of tuples (no change orders)

In [67]:
# Operations on Tuples
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)
combined_tuple = tuple_1 + tuple_2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

In [68]:
# *
repeated_tuple = tuple_1 * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [69]:
# Membership Testing
print(1 in tuple_1)
print(2 not in tuple_1)

True
False

In [70]:
# Count and Index methods
tuple_3 = (1, 2, 3, 4, 4, 5, 6)
print(tuple_3.count(4))
print(tuple_3.count(9))

2
0

In [71]:
tuple_3.index(2)

1

In [72]:
# Sorted or .sort()
tuple_4 = (5, -9, 1, 0, 6, -8)
sorted(tuple_4)

[-9, -8, 0, 1, 5, 6]

In [73]:
# Reversed or .reverse
tuple(reversed(tuple_4))
# باید در مرودش ویدیو ببینم چون نفهمیدم

(-8, 6, 0, 1, -9, 5)

# The tuples are finished and I will start the dictionary

In [74]:
# dict keys and values**
empty_dict = {}
print(empty_dict)
# or kind of empty type
empty_dict_2 = dict()
print(empty_dict_2)

{}
{}

In [75]:
# a dict with integers 'keys and value'
student_grades = {1:'A', 2:'B', 3:'C'}
print(student_grades)

{1: 'A', 2: 'B', 3: 'C'}

In [76]:
# A dict with mixed keys type
person_info = {'name':'Alice', 'age':30 , 1: ['pizza', 'pasta']}
print(person_info)

{'name': 'Alice', 'age': 30, 1: ['pizza', 'pasta']}

In [77]:
# using a sequence of tuples with the dict() constructor
fruiet_prices = dict([('apple',0.45), ('banana', 0.30), ('cherry',0.95)])
print(fruiet_prices)
# اینجوری ام میتونیم دیکشتری بسازیم.

{'apple': 0.45, 'banana': 0.3, 'cherry': 0.95}

In [78]:
#this will raise a typeError as lists are not immutable
#pls loolk down here
my_dict_keys_list = {[1, 2, 3]:'A'}

TypeError: unhashable type: 'list'

In [ ]:
# This is fine as tuples are immutable
my_dict_keys_tuple = {(1, 2, 3):'A'}

In [ ]:
# Accessing and Modifying Dictionary Items
person_info_1 = {'name':'Hirad', 'age':23, 'city':'Tehran'}
person_info_1['name']

'Hirad'

In [ ]:
# Using .get() to retrieve a value
specified = person_info_1.get('Ali', 'not specified')
print(specified)

not specified

In [ ]:
# Accessing all keys 
keys = person_info_1.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [ ]:
# Accessing all values
values = person_info_1.values()
print(values)

dict_values(['Hirad', 23, 'Tehran'])

In [ ]:
# Accessing all item
items = person_info_1.items()
print(items)

dict_items([('name', 'Hirad'), ('age', 23), ('city', 'Tehran')])

In [79]:
# Adding new Key-Value Pairs
portfolio = {} # starting with an empty dict
portfolio['Harrir'] = 10 # Keys harrir and value 10
print(portfolio)

{'Harrir': 10}

In [80]:
# Adding another item
portfolio['Ariana'] = 13
print(portfolio)

{'Harrir': 10, 'Ariana': 13}

In [81]:
# Updating values
portfolio['Harrir'] = 25
print(portfolio)

{'Harrir': 25, 'Ariana': 13}

In [82]:
# Kind update
portfolio.update({'Harrir':41, 'Ariana':21})
print(portfolio)

{'Harrir': 41, 'Ariana': 21}

In [86]:
portfolio.update({'Samar':13, 'Niaz':15})
print(portfolio)

{'Harrir': 41, 'Ariana': 21, 'Samar': 13, 'Niaz': 15}

In [87]:
del portfolio['Samar']
print(portfolio)

{'Harrir': 41, 'Ariana': 21, 'Niaz': 15}

In [89]:
portfolio.pop('Niaz')

15

In [90]:
print(portfolio)

{'Harrir': 41, 'Ariana': 21}

In [91]:
portfolio.popitem()

('Ariana', 21)

In [92]:
print(portfolio)

{'Harrir': 41}

In [93]:
portfolio.clear()

In [94]:
print(portfolio)

{}

In [99]:
# Membership Operators
name_age = {'Mahla':10, 'Zahra':42, 'Akbar':46}
print('Mahla' in name_age)
print('Hirad' in name_age)
print('Mahdi' not in name_age)

True
False
True

In [101]:
# + False
dict_1 = {'a':1}
dict_2 = {'c':5, 'h':5}
dict_1 + dict_2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [102]:
# + True
dict_1.update(dict_2)
print(dict_1)

{'a': 1, 'c': 5, 'h': 5}

In [104]:
# * Not Support
dict_1 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [105]:
# Return the value  of the specifiesd key. if the key does not exist, inserts the key with the specified value:
sample_dict = {'a':1, 'b':2, 'c':3}
sample_dict.setdefault('a', 'Not Found') # Returnes 3 as 'c is in dict

1

In [106]:
sample_dict.setdefault('d', 4)

4

In [107]:
print(sample_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [108]:
len(sample_dict)

4

In [109]:
sorted(sample_dict)

['a', 'b', 'c', 'd']

In [116]:
# Understanding Nasted Dictionary
my_family = {
    'parents1':{'name':'Akbar', 'Age':46},
    'parents2':{'name':'Zahra', 'Age':42},
    'sister':{'name':'Mahla', 'Age':10}
}

In [117]:
print(my_family['parents2']['Age'])
print(my_family['sister'])
print(my_family['parents1']['name'])

42
{'name': 'Mahla', 'Age': 10}
Akbar

In [118]:
my_family['sister']['birthday'] = 'Esfand 17'

In [119]:
print(my_family)

{'parents1': {'name': 'Akbar', 'Age': 46}, 'parents2': {'name': 'Zahra', 'Age': 42}, 'sister': {'name': 'Mahla', 'Age': 10, 'birthday': 'Esfand 17'}}

# The dictionary is finished and I go to the list

# set in Python
1.Unique
2.Mutable
3.Unordered

In [1]:
empty_set = set()
print(empty_set)

set()

In [3]:
# Creating a set from a List
list_with_dulicate = [1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 6, 6]
unique_set = set(list_with_dulicate)
print(unique_set)

{1, 2, 3, 4, 5, 6}

In [4]:
char_set = set('hello')
print(char_set)

{'e', 'l', 'h', 'o'}

In [5]:
# Membership Testing
my_set = {1, 2, 3, 4, 5}
print(2 in my_set)
print(6 not in my_set)

True
True

In [6]:
my_set.pop()

1

In [7]:
print(my_set)

{2, 3, 4, 5}

In [9]:
my_set.add(11)
print(my_set)

{2, 3, 4, 5, 11}

In [10]:
my_set.add(2)
print(my_set)

{2, 3, 4, 5, 11}

In [14]:
# Using Update with a list
my_set.update([9, 10])
print(my_set)

{2, 3, 4, 5, 9, 10, 11}

In [17]:
another_set = {15, 0, 12}
my_set.update(another_set)
print(my_set)

{0, 2, 3, 4, 5, 9, 10, 11, 12, 15}

In [19]:
# Using |= operation with a list
my_set |= {22, 33}
my_set

{0, 2, 3, 4, 5, 9, 10, 11, 12, 15, 22, 33}

In [20]:
# Removing
my_set_2 = {1, 2, 3, 4}
my_set_2.remove(1)
my_set_2

{2, 3, 4}

In [21]:
my_set_2.discard(2)
my_set_2

{3, 4}

In [23]:
my_set_2.discard(11)
my_set_2

{3, 4}

In [24]:
my_set_2.pop()
my_set_2

{4}

In [25]:
my_set_2.clear()
my_set_2

set()

Set Operations Basics

In [1]:
# union
set_a = {1, 2, 3}
set_b = {3, 4, 5} 
# Using the | operator
set_a | set_b

{1, 2, 3, 4, 5}

In [2]:
# using the .union() method
set_a.union(set_b)

{1, 2, 3, 4, 5}

In [3]:
# intersection
# using the & operator
set_a & set_b

{3}

In [4]:
set_a.intersection(set_b)

{3}

In [5]:
# Difference
# Using the - oprator
set_a - set_b

{1, 2}

In [6]:
# Using yhe .diffrence() method
set_a.difference(set_b)

{1, 2}

In [7]:
# Symmetric_difference()
# using the ^ operator
set_a ^ set_b

{1, 2, 4, 5}

In [8]:
# Using the .symmetric.difference() method
set_a.symmetric_difference(set_b)

{1, 2, 4, 5}

1. Subset
2. Superset
3. Disjoint

In [9]:
set_me = {1, 2, 3}
set_you = {3, 4, 5}

In [15]:
# subset
print({1, 3}.issubset(set_me))
print({8}.issubset(set_you))

True
False

In [17]:
# Superset
print(set_me.issuperset({5, 6}))
print(set_you.issuperset({3, 4}))

False
True

In [18]:
#  Disjoint
set_me.isdisjoint({1})

False

Frozensets in Python

1. Unique
2. Immutable
3. Unordered

In [19]:
#empty frozenser
print(frozenset())
fs = frozenset()

frozenset()

In [22]:
# Crating a frozenset
print(frozenset([1, 2, 3]))
print(frozenset({5, 6, 40}))
print(frozenset((1, 9, 5)))
#با هر دیتا تایپی میشود فروزن ست ساخت

frozenset({1, 2, 3})
frozenset({40, 5, 6})
frozenset({1, 5, 9})

In [23]:
frozenset("hello")

frozenset({'e', 'h', 'l', 'o'})

کلا نمیشود چیزی اضافه و حذف کرد و از متود هازیر میشود استفاده کرد
1. .union()
2. .intersection()
3. .diffrence()
4. .symmetric_diffrence()

Packing and Unpacking in Pyhton

In [24]:
point = 7, 8 ,9

In [25]:
a, b, c = point

In [27]:
a

7

In [28]:
number = 1, 2, 3, 4, 5, 6

In [31]:
a , *n, b, c = number

In [32]:
print(a, n, b, c)

1 [2, 3, 4] 5 6

In [49]:
name = 'Ali'
age = 20
grade = 'A'
subject = 'Art'
student_info = (name, age, grade, subject)
print(f'student_info: {student_info}')

student_info: ('Ali', 20, 'A', 'Art')

In [50]:
number_unpacking =(1, 2, 3)
x, y, z = number_unpacking
print(f'x:{x}, y:{y}, z:{z}')

x:1, y:2, z:3

In [36]:
scores = [72, 85, 90]
math_score, sinece_score, english_score = scores
print(math_score,
    sinece_score,
    english_score)

72 85 90

In [37]:
student = {
    'name':'Sara',
    'age': 25,
    'email': 'sara@example.com'
}

In [38]:
name_s , age_s, email_s = student
print(name_s , age_s, email_s)

name age email

In [39]:
number_unpacking_2 = [1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
first_num , seconde , *remaining_numbers = number_unpacking_2

In [51]:
f = 5
g = 10
f, g = g, f
print(f'after swapping: f = {f}, g = {g}')

after swapping: f = 10, g = 5

Finish