"This section is for data types such as lists, tuples, dictionaries, and sets, and I am adding my own exercises to it."

In [10]:
# List
#emtpy_list_1
[ ]

[]

In [11]:
#emtpy_list_2
list()

[]

In [12]:
#character_list  
list('hirad')

['h', 'i', 'r', 'a', 'd']

In [13]:
[5] * 5

[5, 5, 5, 5, 5]

In [14]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
#Len
list_fruites = {'apple', 'banana', 'cherry', 'orange'}
print(len(list_fruites))

4

In [16]:
# Max, Min, Sum
list_numbers = [1, 2, 3, 4]
print(max(list_numbers))
print(min(list_numbers))
print(sum(list_numbers))

4
1
10

In [17]:
#Indexing and Slicing
list_fruites = ['apple', 'banana', 'cherry', 'orange']
print(list_fruites[0]) # indexing
print(list_fruites[3]) # indexing
print(list_fruites[-1]) #slicing
print(list_fruites[-3]) #slicing

apple
orange
orange
banana

In [18]:
# Accessing Elements Using Slicing
list_fruites_1 = list_fruites[1:3]
list_fruites_1

['banana', 'cherry']

In [19]:
list_fruites_2 = list_fruites[::2]
list_fruites_2

['apple', 'cherry']

In [20]:
list_fruites_3 = list_fruites[::-1]
list_fruites_3

['orange', 'cherry', 'banana', 'apple']

In [21]:
# Updating
list_fruites[0] = 'blueberry'
list_fruites

['blueberry', 'banana', 'cherry', 'orange']

In [22]:
# Adding Elemnts to a List
# 1
list_fruites.append('elderberry')
list_fruites

['blueberry', 'banana', 'cherry', 'orange', 'elderberry']

In [23]:
# 2 
more_fruites = ['fig', 'grap']
list_fruites.extend(more_fruites)
list_fruites

['blueberry', 'banana', 'cherry', 'orange', 'elderberry', 'fig', 'grap']

In [24]:
# 3
list_fruites.insert(0,'apricot')
list_fruites

['apricot',
 'blueberry',
 'banana',
 'cherry',
 'orange',
 'elderberry',
 'fig',
 'grap']

In [25]:
# Removing Elemnts 
list_fruites.pop()
list_fruites

['apricot', 'blueberry', 'banana', 'cherry', 'orange', 'elderberry', 'fig']

In [26]:
# 2
pop_list_fruite = list_fruites.pop(1)
pop_list_fruite

'blueberry'

In [27]:
list_fruites

['apricot', 'banana', 'cherry', 'orange', 'elderberry', 'fig']

In [28]:
# 3
list_fruites.remove('banana')
list_fruites

['apricot', 'cherry', 'orange', 'elderberry', 'fig']

In [29]:
# 4
del list_fruites[0]
list_fruites

['cherry', 'orange', 'elderberry', 'fig']

In [30]:
# 5
del list_fruites[1:3]
list_fruites

['cherry', 'fig']

In [31]:
# Clearing all
list_fruites.clear()
list_fruites

[]

In [32]:
# Operation
list_one = [1, 2, 3]
list_two = [4, 5, 6]
combined = list_one + list_two
print(combined)

[1, 2, 3, 4, 5, 6]

In [33]:
# *
repeated_list = list_one * 3
print(repeated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
# Membership Testing
list_pets= ['dog', 'cat', 'birde']
print('cat' in list_pets)
print('dog' not in list_pets)

True
False

In [35]:
# Finding
list_pets.index('dog')

0

In [36]:
# Counting the Number of Occurrences of an Elements
list_pets.count('cat')

1

In [38]:
# Revers the order of a List
list_numbers_2 = [0, 1, 2, 3, 4]
list_numbers_2.reverse()
print(list_numbers_2)

[4, 3, 2, 1, 0]

In [39]:
# Sort
list_numbers_2.sort()
print(list_numbers_2)

[0, 1, 2, 3, 4]

The lists are done, and next, I'm moving on to tuples.